/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
  background: #f8f9fa;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

/* Bootstrap */
a {
  color: #56a8ff;
  transition: all .2s ease;
}

a:hover {
  color: #036cde;
}

.page-item.active .page-link {
  background: #56a8ff;
  border-color: #56a8ff;
}

/* Main */
body {
  background-color: #56a8ff03;
}

.bg-transparent {
  background: transparent;
}

.bg-blue {
  background: #56a8ff;
}

.text-blue {
  color: #56a8ff;
}

.text-blue:hover {
  color: #036cde;
}

.bg-rose {
  background: #ff8581d9;
}

.text-rose {
  color: #ff8581d9;
}

.bg-green {
  background: #8cc63f;
}

.text-green {
  color: #8cc63f;
}

.text-shadow-sm {
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.bg-red {
  background-color: #e43c37;
}

.text-red {
  background-color: #e43c37;
}

/* Homepage */
.c-jumbotron {
  background-color: #f14742;
  border-radius: 0;
  background-image: url('../img/owls.png');
  background-position-y: center;
  background-position-x: 101%;
  background-size: 520px;
  background-repeat: no-repeat;
}

.c-jumbotron-heading {
  font-size: 56px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: #fdfdff;
}

.post-image-right {
  padding: 10px 0;
  width: 200px;
  height: 250px;
}

/* Post preview modal */
.post-preview-container {
  position: relative;
  overflow: hidden;
}

.post-preview-content {
  padding: 50px 50px 0;
  position: absolute;
  top: 0;
  z-index: 10;
  height: 100%;
  box-shadow: -5px 8px 37px rgba(0,0,0,.1),
              0 0 160px 10px rgba(100,100,100,.1) inset;
  background: white;
  transition: all .8s ease;
  overflow: auto;
}

.post-preview-body .pp-title {
  color: #ff8581;
  text-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

.post-preview-body .pp-description {
  padding: 10px 0;
  border-top: 1px solid #dadada40;
  border-bottom: 1px solid #dadada40;
  color: #808080;
}

.post-preview-close {
  padding: 5px 10px;
  position: absolute;
  top: 15px;
  right: 20px;
  border: 1px solid #6c757d3d;
  font-size: 25px;
  color: #80808094;
  cursor: pointer;
  transition: all .3s ease;
}

.post-preview-close:hover {
  color: #ffd20e;
  box-shadow: 0 0 3px rgba(0,0,0,.1) inset;
}