{% extends "base.html" %}

{% block styles %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block sub_title %}Create post{% endblock %}

{% block main %}
  <div class="container">
    <div class="shadow mt-3 p-3">
      <h1>Create post:</h1>

      <form action="{{ action }}" method="post">
        {% csrf_token %}

        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}

            {% if field.errors %}
              <small class="text-danger">
                {{ field.errors|striptags }}
              </small>
            {% endif %}
          </div>
        {% endfor %}

        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <script>
    $(document).ready(function() {
      $('.add-select2').select2();
    });
  </script>
{% endblock %}