{% extends "base.html" %}

{% block sub_title %}Create post{% endblock %}

{% block main %}
  <div class="container">
    <h1 >Create post:</h1>

    <form action="{{ action }}" method="post">
      {% csrf_token %}

      {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}

          {% if field.errors %}
            <small class="text-danger">
              {{ field.errors|striptags }}
            </small>
          {% endif %}
        </div>
      {% endfor %}

      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </div>
{% endblock %}