{% extends "base.html" %}

{% block main %}
  <div class="container">
    <div class="col shadow my-3 p-3 border border-gray">
      <h1 class="h3 mb-4 border-bottom pb-2">
        {% block title %}{% endblock %}
      </h1>

      {% block form %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=dx8b0exnz6aupmx3uci3tmye1ul50zf7m36rot1eukca7c00"></script>
{% endblock %}