<div class="post-preview-header">
  <i class="fal fa-angle-double-right post-preview-close" id="postPreviewClose"></i>
</div>

<div class="post-preview-body">
  <p>
    <small class="text-muted">
      <i class="fal fa-clock"></i>
      Posted on: {{ post.pub_date }}
    </small>
  </p>

  <h3 class="pp-title">{{ post.title }}</h3>

  <p class="pp-description">
   {{ post.body }}
  </p>

  <div class="row">
    <div class="col">
    {% if post.category %}
      <p class="mb-1">
        <i class="fal fa-clipboard-list text-black-50 align-text-top"></i>
        <a href="{%  url 'posts.filter' %}?category={{ post.category_id }}"> {{ post.category.name }}</a>
      </p>
    {% endif %}

    {% if post.tag.count %}
      <p>
        <i class="fal fa-tags text-black-50"></i>
        {% for tag in post.tag.all %}
          <a href="{% url 'posts.filter' %}?tag={{ tag.id }}">
            <span class="badge bg-green text-shadow-sm text-white">{{ tag.name }}</span>
          </a>
        {% endfor %}
      </p>
    {% endif %}
    </div>

    <div class="col text-right">
      <p>
        <a href="{% url 'posts.filter' %}?author={{ post.author.id }}">
        <i class="fal fa-user-circle"></i>
        <strong class="text-capitalize">{{ post.author }}</strong>
      </a>
      </p>
    </div>
  </div>
</div>