{% extends "blog/post_main.html" %}
{% block sub_title %}All posts{% endblock %}

{% block pre_content %}
  <div class="my-4">
    <form action="/" method="get">
      <div class="input-group mb-3">
        <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-light border" type="submit">
            <i class="fal fa-search text-warning"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block content %}
  {% for post in post_list %}
    <article class="mb-3 shadow-sm px-3 py-2 clearfix bg-white">
      <h2 class="mt-0 mb-1 h3">
        <a href="{{ post.get_absolute_url }}">
          {{ post.title }}
        </a>
      </h2>

      <p>
        {{ post.short_body }}
      </p>

      <div class="mb-2">
        {% if request.user.id is post.author.id %}
        <a href="{% url 'post.edit' post.id %}" class="btn btn-sm text-warning" title="Edit">
          <i class="fal fa-edit"></i>
        </a>
        {% endif %}

        <small>Was published
          <strong class="text-muted">{{ post.pub_date }}</strong>
          by
          <strong class="text-primary">
            <a href="{% url 'posts.filter' %}?author={{ post.author.id }}">{{ post.author }}</a>
          </strong>
        </small>

        <div class="btn-group float-right">
          <a href="{% url 'post.detail' post.id %}" class="btn btn-sm btn-outline-secondary">Read more</a>
          <a href="{% url 'post.detail.preview' post.id %}" class="btn btn-sm btn-outline-secondary" data-target="post-preview">Preview</a>
        </div>
      </div>
    </article>
  {% endfor %}

  {# Pagination #}
  {% if is_paginated %}
    {% include 'blog/_pagination.html' %}
  {% endif %}
{% endblock %}

{% block extra_body %}
  <div class="post-preview-container">
    <div id="postPreview" class="post-preview-content scrollbar-style"></div>
  </div>
{% endblock %}