<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Child magazine{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  {% block styles %}{% endblock %}

  {% load static %}
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="stylesheet" href="{% static 'css/fontawesome/css/fontawesome-all.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          crossorigin="anonymous"></script>
</head>
<body>
  {% block body %}
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-red shadow-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item  {% if "/home" in request.path %}active{% endif %}">
              <a class="nav-link" href="/home">
                Home <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item {% if "/blog/" in request.path %}active{% endif %}">
              <a class="nav-link" href="{% url 'posts.list' %}">Blog</a>
            </li>
          </ul>

          {# Sign in/out block #}
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                  <a href="{% url 'profile' %}" class="nav-link" >
                    <i class="fal fa-user-circle"></i>
                    {{ user }}
                  </a>
                </li>
                <i class="fal fa-ellipsis-v text-light align-self-center"></i>
                <li class="nav-item">
                  <a href="{% url 'account_logout' %}" class="nav-link" >
                    <small>
                      Sign Out <i class="fal fa-sign-out-alt"></i>
                    </small>
                  </a>
                </li>
            {% else %}
                <li class="nav-item">
                  <a href="{% url 'account_login' %}" class="nav-link" >
                    Sign In
                  </a>
                </li>
                <i class="fal fa-ellipsis-v text-light align-self-center"></i>
                <li class="nav-item">
                  <a href="{% url 'account_signup' %}" class="nav-link" >
                    Sign Up
                  </a>
                </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <main>
    {% block main %}{% endblock %}
    </main>

    <footer></footer>
  {% endblock %}

  {% block extra_body %}{% endblock %}

  <script src="{% static 'js/main.js' %}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>